@charset "utf-8";
/* CSS Document */

h3 span, footer a:hover, footer a:hover i { color:#00CDCD; }
/* Text Color */
a, .post-details h3 a:hover, a.read-more:hover, .list-style li a:hover, .list-style li a:hover i, .side-content .news-entry a:hover, .widget_tag_cloud li a:hover, .pagination a:hover, .read-more:hover .icon-angle-right, .breadcrumb a:hover, .tagcloud li a:hover, .comment-meta .commentmetadata a:hover, .comment .comment-meta .author-name a:hover, .post-details h2 a:hover, .post-details ul li a:hover, #secondary .widget_recent_posts h5 a:hover, #secondary .widget_categories ul li a:hover, .widget_testimonials ul li p a:hover, .portfolio-container h4 a:hover, .toggle-accordion a:hover, .toggle a:hover, .toggle.active, .toggle.active a, .toggle-accordion.active, .toggle-accordion.active a, footer ul.footer-links li a:hover, ul.theme-color li [class^="icon-"], .services:hover .icon-lightbulb, .services:hover .icon-resize-full, .services:hover .icon-magic, .comment-author .reply:hover, .custom-tabs-frame li a.current, .custom-tabs-frame li a.current [class^="icon-"], .theme-btn.button-arrow .icon-angle-right { color:#00CDCD; }

/* background colors */
#page-nav ul li.current_page_item, #page-nav ul li:hover, #page-nav ul li ul.sub-menu li:hover, .tag li a:hover, .portfolio-container li:hover h4.title a, .related-works.three-fourth li:hover h4 a, .portfolio-container li a:hover .thick-border, input[type="button"], input[type="submit"], input[type="reset"], button, .button, .color, .sorting-container li a.active, .sorting-container li a:hover, .sorting-container li a.active, .sorting-container li a:hover, .side-nav li a:hover, .sorting-container li a.active, .sorting-container li a:hover, .faq h5.toggle-accordion.active:before, .toggle-frame h5.toggle-accordion.active, .toggle-frame h5.toggle.active, .ls-layer .button-text2 a, .ls-layer .button-text a, .ls-layer h4, .ui-widget-content, .portfolio-thumb .image-overlay a span, ul.tabs-frame li a.current, ul.tabs-vertical-frame li a.current, .widget_testimonials .carousel-arrows .icon-chevron-left:hover, #secondary .widget_testimonials .carousel-arrows .icon-chevron-right:hover, .portfolio-slider-container .bx-controls-direction a, .widget_testimonials .carousel-arrows .icon-chevron-left:hover, .widget_testimonials .carousel-arrows .icon-chevron-right:hover { background-color:#00CDCD; }

.sorting-container li:hover a:before, .sorting-container li a.active:before { background:#00CDCD; }

/* border colors */
header { border-top-color:#00CDCD; }
.portfolio-container li a:hover .thick-border, .widget_flickr ul li:hover, .portfolio-container li .portfolio-thumb:hover .thick-border, #page-nav ul li ul.sub-menu li:hover, .container .intro div img { border-color:#01aeae; }

/* BUTTON STYLE */
.theme-btn {
	background-color:#00cdcd;
	background-image: linear-gradient(bottom, #00cdcd 0%, #40dada 100%);
	background-image: -o-linear-gradient(bottom, #00cdcd 0%, #40dada 100%);
	background-image: -moz-linear-gradient(bottom, #00cdcd 0%, #40dada 100%);
	background-image: -webkit-linear-gradient(bottom, #00cdcd 0%, #40dada 100%);
	background-image: -ms-linear-gradient(bottom, #00cdcd 0%, #40dada 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #00cdcd)),
	color-stop(1, #40dada))
	); box-shadow: 0 5px 0 #02adad; }
.theme-btn:hover {
	background-color:#40dada;
	background-image: linear-gradient(bottom, #40dada 0%, #00cdcd 100%);
	background-image: -o-linear-gradient(bottom, #40dada 0%, #00cdcd 100%);
	background-image: -moz-linear-gradient(bottom, #40dada 0%, #00cdcd 100%);
	background-image: -webkit-linear-gradient(bottom, #40dada 0%, #00cdcd 100%);
	background-image: -ms-linear-gradient(bottom, #40dada 0%, #00cdcd 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #40dada)),
	color-stop(1, #00cdcd))
	); box-shadow: 0 5px 0 #02adad; }
.theme-btn:active { box-shadow:0 2px 0px #02adad; -moz-box-shadow:0 2px 0px #02adad; -webkit-box-shadow:0 2px 0px #02adad; -o-box-shadow:0 2px 0px #02adad; }
.theme-btn .icon-angle-right { background-color: #59722b; box-shadow:1px 1px 0px #02adad; color:#acda5a; }
.button-arrow.button-arrow:before { background: #9df7f7; border-right-color: #12b4b4; }
.theme-btn.button-arrow .icon-angle-right { background-color: #F3F3F3; box-shadow: 1px 1px 0 #02adad; }

.pagination ul li a:hover, .pagination ul li.active-page, .pagination a .skip-page:hover { border-color:#01aeae; }

.sorting-container li a.active, .sorting-container li a:hover { border-bottom-color:#02adad!important; border-top-color:#00CDCD !important; text-shadow:1px 1px 0px #b77729; color:#ffffff; }
.sorting-container li:first-child a.active { background:#00CDCD !important; }

/*ACCORDION*/
.theme-btn, .theme-btn:hover, .theme-btn.large.button-arrow, ul.tabs-frame li a.current, ul.tabs-vertical-frame li a.current, .toggle-frame h5.toggle-accordion.active a, .toggle-frame h5.toggle.active a, .toggle-frame h5.toggle-accordion.active:before, .toggle-frame h5.toggle.active:before, .toggle-frame h5.toggle-accordion.active:hover, .toggle-frame h5.toggle.active:hover, .toggle-frame h5.toggle-accordion.active a, .toggle-frame h5.toggle.active a, .toggle-frame h5.toggle-accordion.active a:hover, .portfolio-container li h4.title a:hover, .related-works.three-fourth li h4.title a:hover, .portfolio-container li:hover h4.title a, .related-works.three-fourth li:hover h4.title a { color: #ffffff; text-shadow: 1px 1px 0 #01aeae; }
ul.tabs-frame li a.current, .tabs-vertical-frame-content, .tabs-frame-content, .toggle-frame .toggle-content, ul.tabs-vertical-frame li a.current { border: 1px solid #02b7b7; }
.toggle-frame .toggle-accordion.active:after, .tabs-frame-content:before { border-left: 1px solid #02b7b7; border-right: 1px solid #02b7b7; }
ul.tabs-vertical-frame li.current a span { background:url(images/vertical-tabs-active.png) no-repeat scroll 0 0 transparent; }

/* portfolio */
.portfolio-slider-container .bx-controls a.bx-next { background-image: url(images/arrow-next.png); }
.portfolio-slider-container .bx-controls a.bx-prev { background-image: url(images/arrow-prev.png); }